# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# Local database files
quran_graph_db/

# Fly.io
.fly/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
